@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.body-color {
  background-color: #bec9e5;
}

.dashboard-header {
  height: 60px;
  width: 100%;
  background-color: #2c8610;
  display: flex;
  align-items: center;
}

.dashboard-navbar {
  width: 300px;
  transform: translateX(-100%);
  position: fixed;
  z-index: 5;
  height: 100%;
  background-color: #2f333e;
  margin: 0;
  color: white;
  overflow: auto;
  scrollbar-width: thin;
  transition: all 0.3s ease;
}
.mob-close-sidebar {
  display: none;
}
@media (max-width: 576px) {
  .dashboard-navbar {
    width: 100%;
  }
  .mob-close-sidebar {
    display: block;
  }
  body {
    overflow-x: hidden;
  }
}

#navToggle {
  cursor: pointer;
}

/* width */
.dashboard-navbar::-webkit-scrollbar {
  width: 6px;
}
/* Track */
.dashboard-navbar::-webkit-scrollbar-track {
  background: #2f333e;
}
/* Handle */
.dashboard-navbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
/* Handle on hover */
.dashboard-navbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dashboard-navbar .nav-link {
  padding: 15px 0;
}

.dashboard-navbar .nav-item {
  padding: 0 10px;
  margin: 0;
  border-left: transparent 2px solid;
  border-bottom: #434753 1px solid;
}
.dashboard-navbar .nav-item:hover {
  border-left: #38941b 2px solid;
}

.dashboard-navbar .nav-item-divider {
  padding: 0 10px;
  margin: 0;
  border-left: transparent 2px solid;
  border-bottom: #434753 1px solid;
  background-color: #23262e;
}
.dashboard-navbar .nav-item-divider .nav-link {
  opacity: 65%;
}

.img-profile {
  width: 100%;
  max-width: 50px;
  aspect-ratio: 1/1;
  background-color: white;
  object-fit: cover;
  border-radius: 100%;
}

.cover-books {
  width: 100%;
  max-width: 210px;
  aspect-ratio: 3/4;
  background-color: white;
  object-fit: cover;
}

.dashboard-body {
  position: relative;
  width: 100%;
  transition: all 0.3s ease;
  /* z-index: 1; */
}

.my-input {
  border: 0 !important;
  border-bottom: 1px solid black !important;
  box-shadow: none !important;
}



msg-div {
  bottom: 0;
  right: 120px;
  position:fixed;
  width: 460px;
  background-color: white;
  z-index: 5;
}
@media (max-width: 676px) {
  msg-div {
    width: 100%;
    right: 0;
    overflow: auto;
  }
}
msg-div .header {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  cursor: pointer;

}
msg-div .body {
  width: 100%;
  padding: 10px;
  display: none;
  overflow-y: auto;
  border:1px solid rgba(0, 0, 0, 0.2);
}
msg-div .footer {
  text-align: end;
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border:1px solid rgba(0, 0, 0, 0.2);
  color: white;
}

.msg-list {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.msg-list:hover {
  background-color: rgba(0, 0, 0, 0.1);
}